body{
    background-image: url('../img/1920x1080.jpg') !important ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.search-form{
    margin-top: 10vw;
}

@media only screen and (max-width: 414px) {
    .search-form{
        margin-top: 2vw;
    }
}

.form-city{
    margin-top: 5vw;
}