// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

@import 'font';

//personalized
@import 'weather';

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.airbnb{
    font-family: 'AirbnbCerealBold';
}

.AirbnbCerealLight{
    font-family: 'AirbnbCerealLight';
}

.text-yellow{
    color: #ffeaa7;
}

.text-title a{
    color: #2c3e50;
}